<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>New Goal - Stacks</title>
    <th:block th:replace="fragments/header.html :: main-header"/>
</head>
<body>
<th:block th:replace="fragments/navbar.html :: main-nav"/>
<section class="hero is-primary is-bold">
    <div class="hero-body">
        <div class="container">
            <h1 class="title">Let's create a goal for yourself.</h1>
        </div>
    </div>
</section>
<div class="columns is-mobile is-centered">
    <div class="column is-half">
        <div class="field">
            <p class="control">
                <input class="input" type="text" placeholder="Goal Title">
<!--                <span class="icon is-small is-left"><i class="fas fa-envelope"></i></span>-->
            </p>
        </div>
        <div class="field">
            <p class="control">
                <input class="input" type="text" placeholder="Goal Total">
                <!--                <span class="icon is-small is-left"><i class="fas fa-envelope"></i></span>-->
            </p>
        </div>
        <div class="field">
            <p class="control">
                <input class="input" type="text" placeholder="Goal Date">
                <!--                <span class="icon is-small is-left"><i class="fas fa-envelope"></i></span>-->
            </p>
        </div>
    </div>
</div>
<th:block th:replace="fragments/footer.html :: main-footer"/>
</body>
</html>