<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" xmlns:sec="http://www.thymeleaf.org/extras/spring-security">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>New Goal | Stacks</title>
    <th:block th:replace="fragments/header.html :: main-header"/>
</head>
<body>
<th:block th:replace="fragments/navbar.html :: main-nav"/>
<section class="hero is-primary is-bold">
    <div class="hero-body">
        <div class="container">
            <h1 class="title">Let's set up your goal, <span th:text="${#authentication.principal.firstName}"></span>.</h1>
        </div>
    </div>
</section>
<form th:action="${'/goals/create'}" th:method="post" th:object="${goal}">
    <div class="columns is-mobile is-centered">
        <div class="column is-half">
            <div class="field">
                <label>What is the purpose of this goal?</label>
                <div class="control">
                    <input class="input" th:field="*{description}">
                </div>
            </div>
            <div class="field">
                <label>How much do you want to save?</label>
                <div class="control has-icons-left">
                    <input class="input money-input" th:field="*{amount}">
                    <span class="icon is-left"><i class="fas fa-dollar-sign"></i></span>
                </div>
            </div>
            <div class="field">
                <label>Do you have any money saved so far?</label>
                <div class="control has-icons-left">
                    <input class="input money-input" th:field="*{amountSaved}">
                    <span class="icon is-left"><i class="fas fa-dollar-sign"></i></span>
                </div>
            </div>
            <div class="field">
                <label>When do you want to accomplish this goal?</label>
                <div class="control has-icons-left">
                    <input class="input" th:field="*{date}" type="date">
                    <span class="icon is-left"><i class="fas fa-calendar"></i></span>
                </div>
            </div>
            <div class="control">
                <button class="button is-link">Submit</button>
            </div>
        </div>
    </div>
</form>
<th:block th:replace="fragments/footer.html :: main-footer"/>
<script>
    $(".money-input").on("input", function() {
        this.value = this.value
            .replace(/[^\d.]/g, '')
            .replace(/(^[\d]{6})[\d]/g, '$1')
            .replace(/(\..*)\./g, '.')
            .replace(/(\.[\d]{2})./g, '$1');
    });
</script>
</body>
</html>
