<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" xmlns:sec="http://www.thymeleaf.org/extras/spring-security">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>My Goals | Stacks</title>
    <th:block th:replace="fragments/header.html :: main-header"/>
</head>
<body>
<th:block th:replace="fragments/navbar.html :: main-nav"/>
<section class="hero is-primary is-bold">
    <div class="hero-body">
        <div class="container">
            <h1 class="title">These are your current goals</h1>
        </div>
    </div>
</section>

<div class="container" th:each="goal : ${goal}">
    <div style="height: 400px; width: 300px">
        <h2 th:text="${goal.description}"></h2>
        <div>
            <ul>
                <!--                <li><strong>Goal Description: </strong><span th:text="${goal.description}"></span></li>-->
                <li><strong>Need to save: </strong>$<span th:text="${goal.amount}"></span></li>
                <li><strong>How much you've saved so far: </strong>$<span th:text="${goal.amountSaved}"></span></li>
                <li th:with="result=${goal.amount - goal.amountSaved}"><strong>What you have left to go: </strong>$<span
                        th:text="${result}"></span></li>
            </ul>
            <progress th:max="${goal.amount}" th:value="${goal.amountSaved}"></progress>
            <p><strong>Projected accomplishment date: </strong><br><span th:text="${goal.date}"
                                                                         class="date-span"></span></p>

            <!--        <button class="button">Edit</button>-->
            <button class="btn btn-light btn-block"><a th:href="@{'/goals/' + ${goal.id} + '/edit'}">Edit</a></button>
            <form th:action="@{'/goals/' + ${goal.id} + '/delete'}" method="post">
                <button class="btn btn-danger btn-block">Delete</button>
            </form>
            <!--        <button class="button">Delete</button>-->
        </div>
    </div>
</div>
<a class="button is-success is-rounded" href="/goals/create">Create a goal</a>
<th:block th:replace="fragments/footer.html :: main-footer"/>
<script>
    $(document).ready(function () {
        $(".date-span").each(function () {
            let dateText = $(this).text();
            let partOne = dateText.substr(5, 2);
            let partTwo = dateText.substr(8, 2);
            let partThree = dateText.substr(0, 4);
            let formatDate = (partOne + "-" + partTwo + "-" + partThree);
            $(this).text(formatDate);
        })
    })
</script>
</div>
</body>
</html>
