<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>My Goals</title>
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bulma@0.8.0/css/bulma.min.css">
    <script defer src="https://use.fontawesome.com/releases/v5.3.1/js/all.js"></script>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css"
          integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
    <style>
        #footer {
            background-color: rgb(56, 63, 65);
            height: 150px;
            display: flex;
            align-items: flex-start;
            justify-content: flex-start;
            color: white;
            list-style: none;
        }

        ul {
            list-style: none;
        }

        li a {
            display: block;
            color: white;
            text-align: center;
            padding: 16px;
            text-decoration: none;
        }
    </style>
</head>
<body>
<nav class="navbar" role="navigation" aria-label="main navigation">
    <div class="navbar-brand">
        <a class="navbar-item" href="https://bulma.io">
            <img src="/static.css/Stacks%20Logo%20Transparent.png" width="28" height="28">
        </a>
        <a role="button" class="navbar-burger burger" aria-label="menu" aria-expanded="false"
           data-target="navbarBasicExample">
            <span aria-hidden="true"></span>
            <span aria-hidden="true"></span>
            <span aria-hidden="true"></span>
        </a>
    </div>
    <div id="navbarBasicExample" class="navbar-menu">
        <div class="navbar-start">
            <a class="navbar-item">Save</a>
            <a class="navbar-item">Learn</a>
        </div>
        <div class="navbar-end">
            <div class="navbar-item">
                <div class="buttons">
                    <a class="button is-success is-outlined" href="/login"><strong>Log In</strong></a>
                    <a class="button is-success is-rounded" href="/register">Get Started</a>
                </div>
            </div>
        </div>
    </div>
</nav>
<section class="hero is-primary is-bold">
    <div class="hero-body">
        <div class="container">
            <h1 class="title">These are your current goals</h1>
        </div>
    </div>
</section>
<div class="container" th:each="goal : ${goals}">
    <div style="height: 400px; width: 300px">
        <h2 th:text="${goal.title}"></h2>
        <div>
            <ul>
                <li th:text="${goal.description}"></li>
                <li th:text="${goal.amount}"></li>
                <li th:text="${goal.amountSaved}"></li>
                <li th:text="${goal.amount} - ${goal.amountSaved}"></li>
            </ul>
            <h4 th:text="${goal.date}">timestamp of when goal was created, when goal will end</h4>
        </div>
        <button class="button">Edit</button>
        <button class="button">Delete</button>
    </div>
</div>
<div id="footer">
    <ul>
        <li><a href="#about">About Us</a></li>
        <li><a href="#contact">Contact</a></li>
    </ul>
</div>
<footer>
    <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js"
            integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo"
            crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js"
            integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1"
            crossorigin="anonymous"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js"
            integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM"
            crossorigin="anonymous"></script>
</footer>
</body>
</html>
