<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>My Goals</title>
    <th:block th:replace="fragments/header.html :: main-header"/>
</head>
<body>
<th:block th:replace="fragments/navbar.html :: main-nav"/>
<section class="hero is-primary is-bold">
    <div class="hero-body">
        <div class="container">
            <h1 class="title">These are your current goals</h1>
        </div>
    </div>
</section>
<div class="container" th:each="goal : ${goals}">
    <div style="height: 400px; width: 300px">
        <h2 th:text="${goal.title}"></h2>
        <div>
            <ul>
                <li th:text="${goal.description}"></li>
                <li th:text="${goal.amount}"></li>
                <li th:text="${goal.amountSaved}"></li>
                <li th:text="${goal.amount} - ${goal.amountSaved}"></li>
            </ul>
            <h4 th:text="${goal.date}">timestamp of when goal was created, when goal will end</h4>
        </div>
        <button class="button">Edit</button>
        <button class="button">Delete</button>
    </div>
</div>
<h3>Here is where you will create a goal</h3>
<a class="button is-success is-rounded" href="/goals/create">Create a goal</a>
<div id="footer">
    <ul>
        <li><a href="#about">About Us</a></li>
        <li><a href="#contact">Contact</a></li>
    </ul>
</div>
<th:block th:replace="fragments/footer.html :: main-footer"/>
</body>
</html>
