<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" xmlns:sec="http://www.thymeleaf.org/extras/spring-security">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>Retail Coupons | Stacks</title>
    <th:block th:replace="fragments/header.html :: main-header"/>
</head>
<body>
<script src="https://code.jquery.com/jquery-2.2.4.js" integrity="sha256-iT6Q9iMJYuQiMWNd9lDyBUStIq/8PuOW33aOqmvFpqI="
        crossorigin="anonymous"></script>
<th:block th:replace="fragments/navbar.html :: main-nav"/>
<section class="hero is-primary is-bold">
    <div class="hero-body">
        <div class="container">
            <h1 class="title">In Store & Online Discounts</h1>
            <h2 class="subtitle">This page is dedicated to finding you some of the best deals around you!</h2>
        </div>
    </div>
</section>
<div class="columns is-multiline is-full-mobile is-centered" id="promos"></div>
<th:block th:replace="fragments/footer.html :: main-footer"/>
<script
        src="https://code.jquery.com/jquery-2.2.4.js"
        integrity="sha256-iT6Q9iMJYuQiMWNd9lDyBUStIq/8PuOW33aOqmvFpqI="
        crossorigin="anonymous"></script>
<script>
    var settings = {
        "async": true,
        "crossDomain": true,
        "url": "https://kuponiko.p.rapidapi.com/recent/US",
        "method": "GET",
        "headers": {
            "x-rapidapi-host": "kuponiko.p.rapidapi.com",
            "x-rapidapi-key": "bdecd33faamsh57590d18918e026p1ba8bajsn8488dfca75c1"
        }
    };
    $.ajax(settings).done(function (respone) {
        var data = respone;
        var result = [];
        var newhtml = "";
        data.forEach(function (item) {
            if (item.description != "") {
                result.push(item)
            }
            return result;
        });
        console.log(result);
        console.log(result[3].code);
        for (var i = 0; i <= result.length - 1; i++) {
            console.log(result[i].code);
            newhtml += '<div class="column is-4">';
            newhtml += '<div class="panel">';
            newhtml += '<div class="panel-heading">';
            newhtml += '<strong>' + result[i].store_name + '</strong>';
            newhtml += '</div>';
            newhtml += '<div class="panel-block">';
            newhtml += '<figure>';
            newhtml += '<p>' + result[i].description + '</p><br>';
            newhtml += '<small><u>Discount code</u>: <i>' + result[i].code + '</i></small>';
            newhtml += '</div>';
            newhtml += '</div>';
            newhtml += '</div>';
        }
        $('#promos').append(newhtml);
    })
</script>
</body>
</html>
