<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" xmlns:sec="http://www.thymeleaf.org/extras/spring-security">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>New Post | Stacks</title>
    <th:block th:replace="fragments/header.html :: main-header"/>
</head>
<body>
<section class="hero is-primary is-bold">
    <div class="hero-body">
        <h1 class="title">Create a post</h1>
    </div>
</section>
<form th:action="@{/posts/create}" th:method="post" th:object="${post}">
    Title:<input th:field="*{title}"/>
    <br>
    Description:<input th:field="*{content}"/>
    <br>
    <input type="submit"/>
</form>
<th:block th:replace="fragments/footer.html :: main-footer"/>
</body>
</html>
