<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" xmlns:sec="http://www.thymeleaf.org/extras/spring-security">
<head>
    <meta charset="UTF-8">
    <title>Edit | Stacks - Let Us Help Your Wallet Grow</title>
    <th:block th:replace="fragments/header.html :: main-header"/>
</head>
<body>
<th:block th:replace="fragments/navbar.html :: main-nav"/>
<section class="hero is-primary">
    <div class="hero-body">
        <div class="container">
            <h1 class="title">Edit your post</h1>
            <h3 class="subtitle">Make necessary changes to your post.</h3>
        </div>
    </div>
</section>
<div class="columns is-centered is-full-mobile">
    <div class="column is-half">
        <form th:action="'/posts/' + ${posts.id} + '/edit'" th:method="post">
            <div class="field">
                <label class="label" for="title">Title</label>
                <div class="control">
                    <input class="input" id="title" type="text" th:value="${posts.title}" name="title">
                </div>
            </div>
            <div class="field">
                <label class="label" for="content">Content</label>
                <div class="control">
                    <textarea class="textarea" id="content" th:text="${posts.content}" name="content"></textarea>
                </div>
            </div>
            <button class="button is-link is-rounded">Update</button>
        </form>
    </div>
</div>
<div th:replace="fragments/footer :: main-footer"></div>
</body>
</html>