<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>Log In | Stacks</title>
    <th:block th:replace="fragments/header.html :: main-header"/>
</head>
<body>
<th:block th:replace="fragments/navbar.html :: main-nav"/>
<div class="container is-fluid">
    <form th:action="@{/login}" method="post">
        <div class="card">
            <div class="card-content login">
                <p class="title">Already a member?</p>
                <p class="subtitle">Sign in to Stacks to continue.</p>
                <div class="field">
                    <label class="label">Username</label>
                    <div class="control has-icons-left has-icons-right">
                        <input class="input" type="text" name="username" placeholder="Username">
                        <span class="icon is-small is-left"><i class="fas fa-user"></i></span>
                    </div>
                </div>
                <div class="field">
                    <label class="label">Password</label>
                    <div class="control has-icons-left has-icons-right">
                        <input class="input" type="password" name="password" placeholder="Password">
                        <span class="icon is-small is-left"><i class="fas fa-lock"></i></span>
                    </div>
                </div>
            </div>
            <div class="field">
                <p class="control">
                    <button class="button is-success">Login</button>
                </p>
            </div>
        </div>
    </form>
</div>
<th:block th:replace="fragments/footer :: main-footer"/>
</body>
</html>