<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8" />
    <title>Log In</title>
<!--    <th:block th:replace="fragments/header :: head"/>-->
</head>
<body>
<div class="container">
    <div class="card">
        <h1>Log In</h1>
        <div th:if="${param.error}">
            Invalid Username and Password.
        </div>
        <div th:if="${param.logout}">
            You have been logged out.
        </div>
        <form th:action="@{/login}" method="POST">
            <label for="username">Username</label>
            <input id="username" name="username" type="text"/>
            <label for="password">Password</label>
            <input id="password" name="password" type="password"/>
            <input type="submit" value="Start Saving"/>
        </form>
    </div>
</div>
<!--<div th:replace="fragments/footer :: main-footer"></div>-->
</body>
</html>