<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" xmlns:sec="http://www.thymeleaf.org/extras/spring-security">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>My Profile | Stacks</title>
    <th:block th:replace="fragments/header.html :: main-header"/>
</head>
<body>
<th:block th:replace="fragments/navbar.html :: main-nav"/>
<section class="hero is-primary is-bold">
    <div class="hero-body">
        <div class="container" sec:authorize="isAuthenticated()">
            <h1 class="title">Welcome, <span th:text="${#authentication.principal.firstName}"></span>!</h1>
        </div>
    </div>
</section>
<div class="columns">
    <div class="column">
        <div class="columns is-mobile">
            <div class="column is-one-third">
                <canvas id="myChart"></canvas>
            </div>
            <div class="column">
                <p class="bd-notification is-info">
                <h3 class="list-heading">Entertainment</h3>
                <ul>
                </ul>
                <br>
                <h3 class="list-heading">Shopping</h3>
                <ul>
                    <li>($23.53) - Amazon</li>
                    <li>($9.42) - Best Buy</li>
                    <li>($32.43) - Academy</li>
                </ul>
                <br>
                <h3 class="list-heading">Food</h3>
                <ul>
                    <li>($10.53) - Chick Fil A</li>
                    <li>($9.42) - Whataburger</li>
                    <li>($7.43) - Panda Express</li>
                </ul>
                <br>
                <a href="/profile/expenses/create">Recently made a purchase?</a>
                <br>
                <a href="profile/expenses">View more transactions...</a>
            </div>
        </div>
    </div>
</div>
<div class="columns">
    <div class="column is-two-thirds">
        <p class="bd-notification is-info">
        <h3 class="list-heading">Spending Habits</h3>
        <ul>
            <li>(Most spent category)•You spent $231.52 on <strong><i>Entertainment</i></strong> this week. That's
                $21.42 more than last week!
            </li>
            <li>•To reach your <i>savings goal</i> of $500 by the end of this month, you will need to save $200
                more.
            </li>
            <li>•You have spent a total of $435.52 so far this month, that's $40.87 less than last. Keep it up!</li>
            <li>•Learn more on how to save money by visiting our <i>steals & deals</i> section.</li>
        </ul>
    </div>
    <div class="column">
        <h3>This is where some info about savings goals will go</h3>
        <a class="button is-success is-rounded" href="/goals">Set a goal</a>
    </div>
</div>
<th:block th:replace="fragments/footer.html :: pie-footer"/>
<th:block th:replace="fragments/footer.html :: main-footer"/>
</body>
</html>
