<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" xmlns:sec="http://www.thymeleaf.org/extras/spring-security">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="_csrf" th:content="${_csrf.token}"/>
    <meta name="_csrf_header" th:content="${_csrf.headerName}"/>
    <title>Dashboard | Stacks</title>
    <th:block th:replace="fragments/header.html :: main-header"/>
</head>
<body>
<th:block th:replace="fragments/navbar.html :: main-nav"/>
<section class="hero is-primary is-bold">
    <div class="hero-body">
        <div class="container" sec:authorize="isAuthenticated()">
            <h1 class="title">Welcome, <span th:text="${#authentication.principal.firstName}"></span>
                <span th:text="${#authentication.principal.lastName}"></span>!</h1>
        </div>
    </div>
</section>
<input type="hidden" th:value="${amounts[0]}" id="bills-amount">
<input type="hidden" th:value="${amounts[1]}" id="groceries-amount">
<input type="hidden" th:value="${amounts[2]}" id="membership-amount">
<input type="hidden" th:value="${amounts[3]}" id="food-amount">
<input type="hidden" th:value="${amounts[4]}" id="gifts-amount">
<input type="hidden" th:value="${amounts[5]}" id="auto-amount">
<input type="hidden" th:value="${amounts[6]}" id="misc-amount">
<div class="columns is-multiline is-half-mobile is-centered">
    <div class="column is-12">
        <div class="panel">
            <p class="panel-heading">
                Spending Habits
            </p>
            <div class="panel-block">
                <figure class="image is-16x9">
                    <div class="chart-container" style="position: relative; height:20vh; width:30vw">
                        <canvas id="myChart"></canvas>
                    </div>
                </figure>
            </div>
        </div>
    </div>
    <div class="column is-6" style="float: right">
        <div class="panel">
            <p class="panel-heading">My Recent Transactions</p>
            <div class="panel-block">
                <div class="table-container">
                    <table class="table is-fullwidth is-bordered is-striped">
                        <thead>
                        <tr>
                            <th>Date</th>
                            <th>Description</th>
                            <th>Category</th>
                            <th>Amount</th>
                        </tr>
                        </thead>
                        <tbody id="expense-table">
                        <tr th:each="expense : ${expenses}" class="expense-item">
                            <td><span class="date-span" th:text="${expense.date}"></span></td>
                            <td th:text="${expense.description}"></td>
                            <th:block th:switch="${expense.type}">
                                <div th:case="1">
                                    <td>Bills</td>
                                </div>
                                <div th:case="2">
                                    <td>Groceries</td>
                                </div>
                                <div th:case="3">
                                    <td>Subscriptions & Memberships</td>
                                </div>
                                <div th:case="4">
                                    <td>Food & Dining</td>
                                </div>
                                <div th:case="5">
                                    <td>Leisure & Gifts</td>
                                </div>
                                <div th:case="6">
                                    <td>Auto & Transportation</td>
                                </div>
                                <div th:case="7">
                                    <td>Misc.</td>
                                </div>
                            </th:block>
                            <td><span th:text="${#numbers.formatCurrency(expense.amount)}"></span></td>
                        </tbody>
                    </table>

                    <button class="button is-link is-outlined is-rounded modal-button" data-target="#myModal" aria-haspopup="true">Made a
                        purchase?
                    </button>

                    <div class="modal" id="myModal">
                        <div class="modal-background"></div>
                        <div class="modal-content">
                            <div class="box">
                                <div class="panel">
                                    <p class="panel-heading">Create an Expense</p>
                                    <div class="panel-block">
                                        <figure>
                                            <form th:action="@{/profile/expenses/create}" th:method="post"
                                                  th:object="${expense}" id="expense-form">
                                                <div class="field">
                                                    <label class="label">Where was this purchase made?</label>
                                                    <div class="control has-icons-left">
                                                        <input th:field="*{description}" class="input" type="text"
                                                               id="description">
                                                        <span class="icon is-small is-left"><i
                                                                class="fas fa-building"></i></span>
                                                    </div>
                                                    <label class="label">How much was this purchase?</label>
                                                    <div class="control has-icons-left">
                                                        <input th:field="*{amount}" class="input" type="number"
                                                               step=".01"
                                                               placeholder="ex. 45.25, 176.97" id="amount">
                                                        <span class="icon is-small is-left"><i
                                                                class="fas fa-dollar-sign"></i></span>
                                                    </div>
                                                    <label class="label">When was this purchase made?</label>
                                                    <div class="control has-icons-left">
                                                        <input th:field="*{date}" class="input" type="date" id="today">
                                                        <span class="icon is-small is-left"><i
                                                                class="fas fa-calendar-alt"></i></span>
                                                    </div>
                                                    <label for="type">Select the appropriate category for this
                                                        purchase.</label>
                                                    <div class="control has-icons-left">
                                                        <select th:field="*{type}" id="type">
                                                            <option value="0" disabled selected>--Select One--</option>
                                                            <option value="1">Bills</option>
                                                            <option value="2">Groceries</option>
                                                            <option value="3">Subscriptions/Memberships</option>
                                                            <option value="4">Food & Dining</option>
                                                            <option value="5">Leisure & Gifts</option>
                                                            <option value="6">Auto/Transportation</option>
                                                            <option value="7">Misc</option>
                                                        </select>
                                                    </div>
                                                    <label for="isRegular">This is a reoccurring purchase.</label>
                                                    <input type="checkbox" name="isRegular" id="isRegular" value="true">
                                                </div>
                                                <div class="field is-grouped">
                                                    <div class="control">
                                                        <button class="button is-link is-rounded">Submit</button>
                                                    </div>
                                                    <div class="control">
                                                        <a class="button is-link is-rounded is-outlined"
                                                           href="/profile/expenses">Cancel</a>
                                                    </div>
                                                </div>
                                            </form>
                                        </figure>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <button class="modal-close is-large" aria-label="close"></button>
                    </div>
                    <br>
                    <a href="profile/expenses">View more transactions...</a>
                </div>
            </div>
        </div>
    </div>

    <div class="column is-6">

        <div class="panel">
            <p class="panel-heading">My Current Goals</p>
            <div class="profile-goal" th:each="goal : ${goal}">
                <div style="height: 250px; width: 400px; margin-left: 10px; margin-top: 10px">
                    <u><strong style="text-transform: uppercase" th:text="${goal.description}"></strong></u>
                    <div>
                        <ul>
                            <li><strong>Need to save: </strong><span th:text="${#numbers.formatCurrency(goal.amount)}"></span></li>
                            <li><strong>How much you've saved so far: </strong><span
                                    th:text="${#numbers.formatCurrency(goal.amountSaved)}"></span></li>
                            <li th:with="result=${goal.amount - goal.amountSaved}"><strong>What you have left to
                                go: </strong><span
                                    th:text="${#numbers.formatCurrency(result)}"></span></li>
                        </ul>
<!--                        <div class="progress-container" th:with="result=${goal.amount - goal.amountSaved}" th:data-text="${#numbers.formatCurrency(result)}">-->
                            <progress class="progress is-success" th:max="${goal.amount}"
                                      th:value="${goal.amountSaved}"></progress>
<!--                        </div>-->
                        <p><strong>Projected accomplishment date: </strong><br><span th:text="${goal.date}"
                                                                                     class="date-span"></span></p>
                        <div class="buttons"><a style="border-style: none" class="button" th:href="@{'/goals/' + ${goal.id} + '/edit'}"><i class="far fa-edit"></i></a>
                            <form th:action="@{'/goals/' + ${goal.id} + '/delete'}" method="post">
                                <button class="button" style="border-style: none"><i class="fas fa-trash-alt" style="color: red"></i></button>
                            </form>
                        </div>
                    </div>
                </div>
            </div>
            <div class="panel-block">
                <figure class="image is-16x9">

                    <button class="button is-link is-outlined is-rounded mod2" data-target2="#myModal2" aria-haspopup="true">Create a
                        New Goal
                    </button>

                    <div class="modal" id="myModal2">
                        <div class="modal-background"></div>
                        <div class="modal-content">
                            <div class="box">
                                <div class="column is-6 has-text-centered">
                                    <div class="panel">
                                        <p class="panel-heading">Create an Expense</p>
                                        <div class="panel-block">
                                            <figure>


                                            </figure>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <button class="modal-close is-large" aria-label="close"></button>
                    </div>
                    <br>
                    <a href="goals">View goals....</a>
                </figure>
            </div>
        </div>
    </div>
</div>

<script src="https://code.jquery.com/jquery-2.2.4.js" integrity="sha256-iT6Q9iMJYuQiMWNd9lDyBUStIq/8PuOW33aOqmvFpqI=" crossorigin="anonymous"></script>
<script src="https://cdn.jsdelivr.net/npm/chart.js@2.8.0"></script>
<script>
    $(document).ready(function () {
        $(".date-span").each(function () {
            let dateText = $(this).text();
            let partOne = dateText.substr(5, 2);
            let partTwo = dateText.substr(8, 2);
            let partThree = dateText.substr(0, 4);
            let formatDate = (partOne + "-" + partTwo + "-" + partThree);
            $(this).text(formatDate);
        })
    });

    let billsAmount = $("#bills-amount").val();
    let groceriesAmount = $("#groceries-amount").val();
    let membershipAmount = $("#membership-amount").val();
    let foodAmount = $("#food-amount").val();
    let giftsAmount = $("#gifts-amount").val();
    let autoAmount = $("#auto-amount").val();
    let miscAmount = $("#misc-amount").val();
    var ctx = document.getElementById('myChart');
    var myChart = new Chart(ctx, {
        type: 'pie',
        data: {
            labels: ['Bills', 'Groceries', 'Subscriptions & Memberships', 'Food & Dining', 'Gifts & Leisure', 'Auto & Transportation', 'Misc'],
            datasets: [{
                label: 'Spending',
                data: [billsAmount, groceriesAmount, membershipAmount, foodAmount, giftsAmount, autoAmount, miscAmount],
                backgroundColor: [
                    'rgb(255, 99, 132)',
                    'rgb(54, 162, 235)',
                    'rgb(255, 206, 86)',
                    'rgb(75, 192, 192)',
                    'rgb(153, 102, 255)',
                    'rgb(255, 159, 64)',
                    'rgb(30, 30, 30)'
                ]
            }]
        }
    });

    function updateConfigByMutating() {
        myChart.data.datasets[0].data = [billsAmount, groceriesAmount, membershipAmount, foodAmount, giftsAmount, autoAmount, miscAmount];
        myChart.update();
    }
</script>
<th:block th:replace="fragments/footer.html :: main-footer"/>
<script>
document.querySelectorAll('.modal-button').forEach(function(el) {
el.addEventListener('click', function() {
    var target = document.querySelector(el.getAttribute('data-target'));
    target.classList.add('is-active');
    target.querySelector('.modal-close').addEventListener('click',   function() {
        target.classList.remove('is-active');
    });
});
});
document.querySelectorAll('.mod2').forEach(function(el) {
    el.addEventListener('click', function() {
        var target = document.querySelector(el.getAttribute('data-target2'));
        target.classList.add('is-active');
        target.querySelector('.modal-close').addEventListener('click',   function() {
            target.classList.remove('is-active');
        });
    });
});
let token = $("meta[name='_csrf']").attr("content");
let header = $("meta[name='_csrf_header']").attr("content");
$(document).ajaxSend(function(e,xhr) {
    xhr.setRequestHeader(header, token);
});
$("#expense-form").submit(function (event) {
    event.preventDefault();
    let amount = $("#amount").val();
    $("#amount").val("");
    let date = $("#date").val();
    $("#date").val("");
    let description = $("#description").val();
    $("#description").val("");
    let isRegular = $("#isRegular").val();
    console.log(isRegular);
    $("#isRegular").val("");
    let type = $("#type").val();
    let typeString = "";
    switch (type){
        case "1":
            billsAmount = parseFloat(billsAmount) + parseFloat(amount);
            billsAmount = billsAmount.toString();
            typeString = "Bills";
            updateConfigByMutating();
            break;
        case "2":
            groceriesAmount = parseFloat(groceriesAmount) + parseFloat(amount);
            groceriesAmount = groceriesAmount.toString();
            typeString = "Groceries";
            updateConfigByMutating();
            break;
        case "3":
            membershipAmount = parseFloat(membershipAmount) + parseFloat(amount);
            membershipAmount = membershipAmount.toString();
            typeString = "Subscriptions & Memberships";
            updateConfigByMutating();
            break;
        case "4":
            foodAmount = parseFloat(foodAmount) + parseFloat(amount);
            foodAmount = foodAmount.toString();
            typeString = "Food & Dining";
            updateConfigByMutating();
            break;
        case "5":
            giftsAmount = parseFloat(giftsAmount) + parseFloat(amount);
            giftsAmount = giftsAmount.toString();
            typeString = "Gifts & Leisure";
            updateConfigByMutating();
            break;
        case "6":
            autoAmount = parseFloat(autoAmount) + parseFloat(amount);
            autoAmount = autoAmount.toString();
            typeString = "Auto & Transportation";
            updateConfigByMutating();
            break;
        case "7":
            miscAmount = parseFloat(miscAmount) + parseFloat(amount);
            miscAmount = miscAmount.toString();
            typeString = "Misc";
            updateConfigByMutating();
            break;
    }


    let html = "<tr class=\"expense-item\">\n" +
        "                            <td><span class=\"new-date-span\">" + date + "</span></td>\n" +
        "                            <td>" + description + "</td>\n" +
        "                                <div>\n" +
        "                                    <td>" + typeString + "</td>\n" +
        "                                </div>\n" +
        "                            <td>$" + amount + "</td>";

    $(".expense-item").last().remove();
    $("#expense-table").prepend(html);

    $(".new-date-span").each(function () {
        let dateText = $(this).text();
        let partOne = dateText.substr(5, 2);
        let partTwo = dateText.substr(8, 2);
        let partThree = dateText.substr(0, 4);
        let formatDate = (partOne + "-" + partTwo + "-" + partThree);
        $(this).text(formatDate);
    })

    let newExpense = {
        amount: amount,
        date:  date,
        description: description,
        isRegular: isRegular,
        type: type
    };
    $.ajax({
        type: "POST",
        dataType : 'json',
        url: "/expenses.json",
        data: JSON.stringify(newExpense),
        headers: {
            'content-type': 'application/json'
        },
        success: function(data, textStatus, jqXHR) {
            $("#myModal").removeClass('is-active');
            console.log(data);
        },
        error: function(request, status, error) {
            $("#myModal").removeClass('is-active');
            console.log(error);
        }

    });

});


</script>
</body>
</html>
