<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" xmlns:sec="http://www.thymeleaf.org/extras/spring-security">
<head>
    <meta charset="UTF-8">
    <title>Create Expense - Stacks</title>
    <th:block th:replace="fragments/header.html :: main-header"/>
</head>
<body>
<th:block th:replace="fragments/navbar.html :: main-nav"/>
<section class="hero is-primary is-bold">
    <div class="hero-body">
        <div class="container" sec:authorize="isAuthenticated()">
            <h1 class="title">New Expense</h1>
            <h2 class="subtitle">Input any new purchases you have made</h2>
        </div>
    </div>
</section>
<form th:action="@{/profile/expenses/create}" th:method="post" th:object="${expense}">
    <div class="columns is-centered">
        <div class="column">
            <div class="field">
                <label class="label">What was the expense</label>
                <div class="control has-icons-left">
                    <input th:field="*{description}" class="input" type="text">
                    <span class="icon is-small is-left"><i class="fas fa-building"></i></span>
                </div>
                <!--                <label class="label">Short Description</label>-->
                <!--                <div class="control has-icons-left">-->
                <!--                    <input th:field="*{description}" class="input" type="text" placeholder="ex. Living Room Decoration, Computer Monitor">-->
                <!--                    <span class="icon is-small is-left"><i class="fas fa-comment-dots"></i></span>-->
                <!--                </div>-->
                <label class="label">Amount</label>
                <div class="control has-icons-left">
                    <input th:field="*{amount}" class="input" type="number" step=".01" placeholder="ex. 45.25, 176.97">
                    <span class="icon is-small is-left"><i class="fas fa-dollar-sign"></i></span>
                </div>
                <label class="label">Date</label>
                <div class="control has-icons-left">
                    <input th:field="*{date}" class="input" type="date">
                    <span class="icon is-small is-left"><i class="fas fa-calendar-alt"></i></span>
                </div>
                <label for="type">Type of Expense</label>
                <div class="control has-icons-left">
                    <select th:field="*{type}" id="type">
                        <option value="1">Bills</option>
                        <option value="2">Groceries</option>
                        <option value="3">Subscriptions/Memberships</option>
                        <option value="4">Food & Dining</option>
                        <option value="5">Leisure & Gifts</option>
                        <option value="6">Auto/Transportation</option>
                        <option value="7">Misc</option>
                    </select>
                </div>
                <label for="isRegular">Is this a regular expense?</label>
                <input type="checkbox" name="isRegular" id="isRegular" value="true">
            </div>
            <div class="field is-grouped">
                <div class="control">
                    <button class="button is-link is-rounded">Submit</button>
                </div>
                <div class="control">
                    <a class="button is-link is-rounded is-outlined" href="/profile/expenses">Cancel</a>
                </div>
            </div>
        </div>
    </div>
</form>
<th:block th:replace="fragments/footer.html :: main-footer"/>
</body>
</html>