<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" xmlns:sec="http://www.thymeleaf.org/extras/spring-security">
<head>
    <meta charset="UTF-8">
    <title>Edit Expense | Stacks</title>
</head>
<body>
<div class="container">
    <form th:action="'/profile/expenses/' + ${expenses.id} + '/edit'" th:method="post">
        <h1>Edit this expense....</h1>
        <div class="form-group">
            <h2 th:text="${goals.description}"></h2>
            <h2>Amount: $<span th:text="${goals.amount}"></span></h2>
        </div>
        <div class="form-group">
            <label for="title">Amount saved so far</label>
            <input class="form-control" id="title" type="text" th:value="${goals.amountSaved}" name="amountSaved">
        </div>
        <div class="form-group">
            <label for="date">Date</label>
            <input class="form-control" id="date" th:value="${goals.date}" name="date">
        </div>
        <a class="button is-link is-rounded">Update</a>
    </form>
</div>
</body>
</html>