<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" xmlns:sec="http://www.thymeleaf.org/extras/spring-security">
<head>
    <meta charset="UTF-8">
    <title>Edit Expense | Stacks</title>
</head>
<body>
<div class="container">
    <form th:action="'/profile/expenses/' + ${expenses.id} + '/edit'" th:method="post" th:object="${expenses}">
        <h1>Edit this expense....</h1>
        <div class="form-group">
            <label for="date">Date</label>
            <input class="form-control" id="date" th:value="${expenses.date}" name="date" type="date">
            <br>
            <label for="description">Where did you purchase?</label>
            <input id="description" class="form-control" th:value="${expenses.description}" name="description">
            <br>
            <label for="expense-amount">How much did you spend?</label>
            <input id="expense-amount" name="amount" th:value="${expenses.amount}">
            <div class="control has-icons-left">
                <select th:field="*{type}" id="type">
                    <option value="0" disabled selected>--Select One--</option>
                    <option value="1">Bills</option>
                    <option value="2">Groceries</option>
                    <option value="3">Subscriptions/Memberships</option>
                    <option value="4">Food & Dining</option>
                    <option value="5">Leisure & Gifts</option>
                    <option value="6">Auto/Transportation</option>
                    <option value="7">Misc</option>
                </select>
            </div>
        </div>
        <button><a class="button is-link is-rounded">Update</a></button>
    </form>
</div>
</body>
</html>