<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" xmlns:sec="http://www.thymeleaf.org/extras/spring-security">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>My Expenses | Stacks</title>
    <th:block th:replace="fragments/header.html :: main-header"/>
</head>
<body>
<th:block th:replace="fragments/navbar.html :: main-nav"/>
<section class="hero is-primary is-bold">
    <div class="hero-body">
        <div class="container" sec:authorize="isAuthenticated()">
            <h1 class="title">Here are your transactions, <span th:text="${#authentication.principal.firstName}"></span>.
            </h1>
        </div>
    </div>
</section>
<div class="columns is-full-mobile is-centered">
<div class="column is-three-quarters">
    <a class="button is-link is-rounded is-outlined" href="expenses/create">Create a new expense</a>
    <table class="table is-striped is-bordered" style="width: 100%">
        <thead>
        <tr>
            <th>Date</th>
            <th>Description</th>
            <th>Category</th>
            <th>Amount</th>
            <th>Action</th>
        </tr>
        </thead>
        <tbody>
        <tr th:each="expense : ${expenses}">
            <td th:text="${expense.date }"></td>
            <td th:text="${expense.description}"></td>
            <th:block th:switch="${expense.type}">
                <div th:case="1">
                    <td>Bills</td>
                </div>
                <div th:case="2">
                    <td>Groceries</td>
                </div>
                <div th:case="3">
                    <td>Subscriptions & Memberships</td>
                </div>
                <div th:case="4">
                    <td>Food & Dining</td>
                </div>
                <div th:case="5">
                    <td>Leisure & Gifts</td>
                </div>
                <div th:case="6">
                    <td>Auto & Transportation</td>
                </div>
                <div th:case="7">
                    <td>Misc.</td>
                </div>
            </th:block>
            <td><span th:text="${#numbers.formatCurrency(expense.amount)}"></span></td>

            <td><div class="buttons"><a style="border-style: none" class="button" data-target="#myModal" aria-haspopup="true" th:href="@{/profile}"><i class="far fa-edit"></i></a><!-- need to map the edit icon to the edit expense modal -->
            <form th:action="@{'/profile/expenses/' + ${expense.id} + '/delete'}" method="post">
                <button class="button" style="border-style: none"><i class="fas fa-trash-alt" style="color: red"></i></button>
            </form>
            </div>
            </td>
        </tbody>
    </table>
</div>
</div>
<!--<div class="modal" id="myModal">-->
<!--    <div class="modal-background"></div>-->
<!--    <div class="modal-content">-->
<!--        <div class="box">-->
<!--            <div class="panel">-->
<!--                <p class="panel-heading">Edit this Expense</p>-->
<!--                <div class="panel-block">-->
<!--                    <figure>-->
<!--                        <form th:action="@{'/profile/expenses/' + ${expenses.id} + '/edit'}" th:method="post"-->
<!--                              th:object="${expense}" id="expense-form">-->
<!--                            <div class="field">-->
<!--                                <label class="label">Where was this purchase made?</label>-->
<!--                                <div class="control has-icons-left">-->
<!--                                    <input th:field="*{description}" class="input" type="text"-->
<!--                                           id="description">-->
<!--                                    <span class="icon is-small is-left"><i-->
<!--                                            class="fas fa-building"></i></span>-->
<!--                                </div>-->
<!--                                <label class="label">How much was this purchase?</label>-->
<!--                                <div class="control has-icons-left">-->
<!--                                    <input th:field="*{amount}" class="input" type="number"-->
<!--                                           step=".01"-->
<!--                                           placeholder="ex. 45.25, 176.97" id="amount">-->
<!--                                    <span class="icon is-small is-left"><i-->
<!--                                            class="fas fa-dollar-sign"></i></span>-->
<!--                                </div>-->
<!--                                <label class="label">When was this purchase made?</label>-->
<!--                                <div class="control has-icons-left">-->
<!--                                    <input th:field="*{date}" class="input" type="date" id="today">-->
<!--                                    <span class="icon is-small is-left"><i-->
<!--                                            class="fas fa-calendar-alt"></i></span>-->
<!--                                </div>-->
<!--                                <label for="type">Select the appropriate category for this-->
<!--                                    purchase.</label>-->
<!--                                <div class="control has-icons-left">-->
<!--                                    <select th:field="*{type}" id="type">-->
<!--                                        <option value="0" disabled selected>&#45;&#45;Select One&#45;&#45;</option>-->
<!--                                        <option value="1">Bills</option>-->
<!--                                        <option value="2">Groceries</option>-->
<!--                                        <option value="3">Subscriptions/Memberships</option>-->
<!--                                        <option value="4">Food & Dining</option>-->
<!--                                        <option value="5">Leisure & Gifts</option>-->
<!--                                        <option value="6">Auto/Transportation</option>-->
<!--                                        <option value="7">Misc</option>-->
<!--                                    </select>-->
<!--                                </div>-->
<!--                                <label for="isRegular">This is a reoccurring purchase.</label>-->
<!--                                <input type="checkbox" name="isRegular" id="isRegular" value="true">-->
<!--                            </div>-->
<!--                            <div class="field is-grouped">-->
<!--                                <div class="control">-->
<!--                                    <button class="button is-link is-rounded">Submit</button>-->
<!--                                </div>-->
<!--                                <div class="control">-->
<!--                                    <a class="button is-link is-rounded is-outlined"-->
<!--                                       href="/profile/expenses">Cancel</a>-->
<!--                                </div>-->
<!--                            </div>-->
<!--                        </form>-->
<!--                    </figure>-->
<!--                </div>-->
<!--            </div>-->
<!--        </div>-->
<!--    </div>-->
<!--    <button class="modal-close is-large" aria-label="close"></button>-->
<!--</div>-->
<th:block th:replace="fragments/footer :: main-footer"/>
</body>
</html>