<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" xmlns:sec="http://www.thymeleaf.org/extras/spring-security">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>My Expenses | Stacks</title>
    <th:block th:replace="fragments/header.html :: main-header"/>
</head>
<body>
<th:block th:replace="fragments/navbar.html :: main-nav"/>
<section class="hero is-primary is-bold">
    <div class="hero-body">
        <div class="container" sec:authorize="isAuthenticated()">
            <h1 class="title">Here are your transactions, <span th:text="${#authentication.principal.firstName}"></span>.
            </h1>
        </div>
    </div>
</section>
<div class="columns is-full-mobile is-centered">

<div class="column is-three-quarters">
    <a class="button is-link is-rounded is-outlined" href="expenses/create">Create a new expense</a>
    <br>
    <input id="myInput" type="text" placeholder="Search..">

    <table class="table is-striped is-bordered" style="width: 100%">
        <thead>
        <tr class="header">
            <th>Date</th>
            <th>Description</th>
            <th>Category</th>
            <th>Amount</th>
            <th>Action</th>
        </tr>
        </thead>
        <tbody id="myTable">
        <tr th:each="expense : ${expenses}">
            <td><span th:text="${expense.date }" class="date-span"></span></td>
            <td th:text="${expense.description}"></td>
            <th:block th:switch="${expense.type}">
                <div th:case="1">
                    <td>Bills</td>
                </div>
                <div th:case="2">
                    <td>Groceries</td>
                </div>
                <div th:case="3">
                    <td>Subscriptions & Memberships</td>
                </div>
                <div th:case="4">
                    <td>Food & Dining</td>
                </div>
                <div th:case="5">
                    <td>Leisure & Gifts</td>
                </div>
                <div th:case="6">
                    <td>Auto & Transportation</td>
                </div>
                <div th:case="7">
                    <td>Misc.</td>
                </div>
            </th:block>
            <td><span th:text="${#numbers.formatCurrency(expense.amount)}"></span></td>


            <td><div class="buttons"><a style="border-style: none" class="button" th:href="@{'/profile/expenses/' + ${expense.id} + '/edit'}"><i class="far fa-edit"></i></a>
            <form th:action="@{'/profile/expenses/' + ${expense.id} + '/delete'}" method="post">
                <button class="button" style="border-style: none"><i class="fas fa-trash-alt" style="color: red"></i></button>
            </form>
            </div>
            </td>
        </tbody>
    </table>
</div>

</div>
<th:block th:replace="fragments/footer :: main-footer"/>
<script>
    $(document).ready(function () {
        $(".date-span").each(function () {
            let dateText = $(this).text();
            let partOne = dateText.substr(5, 2);
            let partTwo = dateText.substr(8, 2);
            let partThree = dateText.substr(0, 4);
            let formatDate = (partOne + "-" + partTwo + "-" + partThree);
            $(this).text(formatDate);
        });

        $("#myInput").on("keyup", function() {
            let value = $(this).val().toLowerCase();
            $("#myTable tr").filter(function() {
                $(this).toggle($(this).text().toLowerCase().indexOf(value) > -1)
            });
        });
    })
</script>
</body>
</html>
