<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8"/>
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>404 ERROR | Stacks</title>
    <link href="https://fonts.googleapis.com/css?family=Montserrat:200,400,700" rel="stylesheet">
    <link th:href="@{/css/error4xx.css}" rel="stylesheet"/>
</head>

<body>
<div id="notfound">
    <div class="notfound">
        <div class="notfound-404">
            <h1>Oops!</h1>
            <h2>404 - The Page can't be found</h2>
        </div>
        <a href="/">Go To Homepage</a>
    </div>
</div>
<!--<th:block th:switch="${error}">-->
<!--    <div th:case="'Not Found'">-->
<!--        <h1>This page does not exist</h1>-->
<!--    </div>-->
<!--    <div th:case="'Forbidden'">-->
<!--        <h1>You don't have permission to view this page.</h1>-->
<!--    </div>-->
<!--</th:block>-->
<!--<p>Watch a video instead</p>-->
<!--<iframe-->
<!--        width="420"-->
<!--        height="315"-->
<!--        src="https://www.youtube.com/embed/NN75im_us4k?autoplay=1"-->
<!--        frameborder="0"-->
<!--        allowfullscreen="allowfullscreen"-->
<!--&gt;-->
<!--</iframe>-->
</body>
</html>