html {
overflow-y: auto;
}

body {
    font-family: 'Public Sans', sans-serif;
    /*position: relative;*/
    min-height: 100vh;
}

.footer {
    background-color: rgb(56, 63, 65);
    height: 150px;
    color: white;
    /*position: absolute;*/
    bottom: 0;
    width: 100%;
}

.bad-login {
    color: red;
}

.good-logout{
    color: green;
}

.headShots {
    display: flex;
    justify-content: space-between;
}

.card {
    display: inline-grid;
    justify-items: center;
    width: 18rem;
    text-align: center;
}