html {
overflow-y: auto;
}

body {
    font-family: 'Public Sans', sans-serif;
    position: relative;
    min-height: 100vh;
    display: flex;
    flex-direction: column;
    padding-bottom: 9.5em;
}

.button {
    margin-bottom: 1em;
}

.footer {
    background-color: rgb(56, 63, 65);
    height: 9.5em;
    color: white;
    position: absolute;
    bottom: 0;
    width: 100%;
    flex: 0 0 auto;
}

.bad-login {
    color: red;
}

.good-logout{
    color: green;
}

.headShots {
    display: flex;
    justify-content: space-between;
}

.card {
    display: inline-grid;
    justify-items: center;
    width: 18rem;
    text-align: center;
}

.hero {
    margin-bottom: 1.5em;
}

table {
    font-family: arial, sans-serif;
    border-collapse: collapse;
    width: 100%;
}

td, th {
    border: 1px solid #dddddd;
    text-align: left;
    padding: .5em;
}

tr:nth-child(even) {
    background-color: #dddddd;
}

.table-container {
    width: 300vw;
}

.goal-title {
    display: inline-flex;
    text-align: center;
    text-decoration-color: white;
}
.progress::-webkit-progress-value {
    transition: width 0.5s ease;
}

.profile-goal {
    display: inline-flex;
    justify-content: space-evenly;
    width: 18.75em;
}

#goal-div{
    display: flex;
    justify-content: space-evenly;
}

.goal-div{
    min-height: 18.75em;
}

.goal-card{
    min-height: 100%;
}

progress{
    position: absolute;
    bottom: 0;
    width: 85% !important;
}

.goal-content{
    height: 22.125em !important;
    position: relative;
}