html {
overflow-y: auto;
}

body {
    font-family: 'Public Sans', sans-serif;
    /*position: relative;*/
    min-height: 100vh;
}

.button {
    margin-bottom: 1em;
}

.footer {
    background-color: rgb(56, 63, 65);
    height: 150px;
    color: white;
    /*position: absolute;*/
    bottom: 0;
    width: 100%;
}

.bad-login {
    color: red;
}

.good-logout{
    color: green;
}

.headShots {
    display: flex;
    justify-content: space-between;
}

.card {
    display: inline-grid;
    justify-items: center;
    width: 18rem;
    text-align: center;
}

.hero {
    margin-bottom: 1.5em;
}

table {
    font-family: arial, sans-serif;
    border-collapse: collapse;
    width: 100%;
}

td, th {
    border: 1px solid #dddddd;
    text-align: left;
    padding: 8px;
}

tr:nth-child(even) {
    background-color: #dddddd;
}

.progress::-webkit-progress-value {
    transition: width 0.5s ease;
}