<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" xmlns:sec="http://www.thymeleaf.org/extras/spring-security">
<head>
    <meta charset="UTF-8">
    <title>Stacks - About Us</title>
    <th:block th:replace="fragments/header :: main-header"/>
</head>
<body>
<th:block th:replace="fragments/navbar :: main-nav"/>
<section class="hero is-primary is-bold">
    <div class="hero-body">
        <div class="container">
            <h1 class="title">This is Stacks</h1>
        </div>
    </div>
</section>
<div class="columns is-multiline is-mobile is-centered">
    <div class="column is-3 is-full-mobile">
        <div class="card">
            <img th:src="@{/css/BranceA.jpg}" class="card-img-top" alt="Brance">
            <div class="card-body">
                <h3 class="card-title"><strong>Brance Alexander</strong></h3>
                <a href="https://alumni.codeup.com/students/714" target="_blank">Codeup Alumni Portal</a>
            </div>
            <div class="icons">
                <a href="https://www.linkedin.com/in/brance-alexander/" target="_blank"><i class="fab fa-linkedin icon" style="height: 1.5em; width: 1.5em;"></i></a>
                <a href="https://github.com/brancea" target="_blank"><i class="fab fa-github icon" style="height: 1.5em; width: 1.5em; color: black"></i></a>
            </div>
        </div>
    </div>
    <div class="column is-3 is-full-mobile">
        <div class="card">
            <img th:src="@{/css/LuisD.jpg}" class="card-img-top" alt="Luis">
            <div class="card-body">
                <h3 class="card-title"><strong>Luis Delgado</strong></h3>
                <a href="https://alumni.codeup.com/students/710" target="_blank">Codeup Alumni Portal</a>
            </div>
            <div class="icons">
                <a href="https://www.linkedin.com/in/delgadoluis/" target="_blank"><i class="fab fa-linkedin icon" style="height: 1.5em; width: 1.5em;"></i></a>
                <a href="https://github.com/LuisDelgado373" target="_blank"><i class="fab fa-github icon" style="height: 1.5em; width: 1.5em; color: black"></i></a>
            </div>
        </div>
    </div>
    <div class="column is-3 is-full-mobile">
        <div class="card">
            <img th:src="@{/css/EddyB.jpg}" class="card-img-top" alt="Eddy">
            <div class="card-body">
                <h3 class="card-title"><strong>Eddy Bautista</strong></h3>
                <a href="https://alumni.codeup.com/students/721" target="_blank">Codeup Alumni Portal</a>
            </div>
            <div class="icons">
                <a href="https://www.linkedin.com/in/eddy-bautista/" target="_blank"><i class="fab fa-linkedin icon" style="height: 1.5em; width: 1.5em;"></i></a>
                <a href="https://github.com/EddyBautista-93" target="_blank"><i class="fab fa-github icon" style="height: 1.5em; width: 1.5em; color: black"></i></a>
            </div>
        </div>
    </div>
    <div class="column is-3 is-full-mobile">
        <div class="card">
            <img th:src="@{/css/JasonK.jpg}" class="card-img-top" alt="Jason">
            <div class="card-body">
                <h3 class="card-title"><strong>Jason Kempel</strong></h3>
                <a href="https://alumni.codeup.com/students/715" target="_blank">Codeup Alumni Portal</a>
            </div>
            <div class="icons">
                <a href="https://www.linkedin.com/in/jason-kempel/" target="_blank"><i class="fab fa-linkedin" style="height: 1.5em; width: 1.5em;"></i></a>
                <a href="https://github.com/JKempel13" target="_blank"><i class="fab fa-github" style="height: 1.5em; width: 1.5em; color: black"></i></a>
            </div>
        </div>
    </div>
</div>
</body>
<th:block th:replace="fragments/footer :: main-footer"/>
</html>