<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" xmlns:sec="http://www.thymeleaf.org/extras/spring-security">
<head>
    <meta charset="UTF-8">
    <title>Stacks - About Us</title>
    <th:block th:replace="fragments/header :: main-header"/>
    <style>
        .profile-image {
            width: 85%;
            height: 85%;
            border: 1px solid black;
            border-radius: 5px;
            padding: 5px;
        }

        .icons a {
            padding: 1em;
        }

        #logo{
            height: 9em;
        }

        #hero-container{
            display: flex;
            flex-direction: row;
            justify-content: space-between;
            align-items: center;
            padding-left: 3em;
            padding-right: 8em;
        }

        #title{
            margin: 0;
        }
    </style>
</head>
<body>
<th:block th:replace="fragments/navbar :: main-nav"/>
<section class="hero is-primary is-bold">
    <div class="hero-body">
        <div class="container" id="hero-container">
            <h1 class="title" id="title">This is Stacks</h1>
            <img th:src="@{/css/StacksLogo.png}" alt="logo" id="logo">
        </div>
    </div>
</section>
<div class="columns is-multiline is-mobile is-centered">
    <div class="column is-11">
        <div class="columns">
            <div class="column is-3 is-full-mobile has-text-centered">
                <div>
                    <h3 class="title"><strong>Brance Alexander</strong></h3>
                    <img class="profile-image" th:src="@{/css/BranceA.jpg}" alt="Brance">
                </div>
                <div class="icons">
                    <a href="https://www.linkedin.com/in/brance-alexander/" target="_blank"><i
                            class="fab fa-linkedin icon" style="height: 1.5em; width: 1.5em;"></i></a>
                    <a href="https://github.com/brancea" target="_blank"><i class="fab fa-github icon"
                                                                            style="height: 1.5em; width: 1.5em; color: black"></i></a>
                    <a href="https://alumni.codeup.com/students/714" target="_blank"><img src="css/Codeup.png"
                                                                                          style="height: 1.5em; width: 1.5em"></a>
                </div>
            </div>
            <div class="column is-3 is-full-mobile has-text-centered">
                <div>
                    <h3 class="title"><strong>Luis Delgado</strong></h3>
                    <img class="profile-image" th:src="@{/css/LuisD.jpg}" alt="Luis">
                </div>
                <div class="icons">
                    <a href="https://www.linkedin.com/in/delgadoluis/" target="_blank"><i
                            class="fab fa-linkedin icon" style="height: 1.5em; width: 1.5em;"></i></a>
                    <a href="https://github.com/LuisDelgado373" target="_blank"><i class="fab fa-github icon"
                                                                                   style="height: 1.5em; width: 1.5em; color: black"></i></a>
                    <a href="https://alumni.codeup.com/students/710" target="_blank"><img src="css/Codeup.png"
                                                                                          style="height: 1.5em; width: 1.5em"></a>
                </div>
            </div>
            <div class="column is-3 is-full-mobile has-text-centered">
                <div>
                    <h3 class="title"><strong>Eddy Bautista</strong></h3>
                    <img class="profile-image" th:src="@{/css/EddyB.jpg}" alt="Eddy">
                </div>
                <div class="icons">
                    <a href="https://www.linkedin.com/in/eddy-bautista/" target="_blank"><i
                            class="fab fa-linkedin icon" style="height: 1.5em; width: 1.5em;"></i></a>
                    <a href="https://github.com/EddyBautista-93" target="_blank"><i class="fab fa-github icon"
                                                                                    style="height: 1.5em; width: 1.5em; color: black"></i></a>
                    <a href="https://alumni.codeup.com/students/721" target="_blank"><img src="css/Codeup.png"
                                                                                          style="height: 1.5em; width: 1.5em"></a>
                </div>
            </div>
            <div class="column is-3 is-full-mobile has-text-centered">
                <div>
                    <h3 class="title"><strong>Jason Kempel</strong></h3>
                    <img class="profile-image" th:src="@{/css/JasonK.jpg}" alt="Jason">
                </div>
                <div class="icons">
                    <a href="https://www.linkedin.com/in/jason-kempel/" target="_blank"><i class="fab fa-linkedin"
                                                                                           style="height: 1.5em; width: 1.5em;"></i></a>
                    <a href="https://github.com/JKempel13" target="_blank"><i class="fab fa-github"
                                                                              style="height: 1.5em; width: 1.5em; color: black"></i></a>
                    <a href="https://alumni.codeup.com/students/715" target="_blank"><img src="css/Codeup.png"
                                                                              style="height: 1.5em; width: 1.5em"></a>
                </div>
            </div>
        </div>
    </div>
</div>
</body>
<th:block th:replace="fragments/footer :: main-footer"/>
</html>
