<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Stacks - About Us</title>
    <th:block th:replace="fragments/header :: main-header"/>
</head>
<body>
<th:block th:replace="fragments/navbar :: main-nav"/>
<section class="hero is-primary is-bold">
    <div class="hero-body">
        <div class="container">
            <h1 class="title">This is Stacks</h1>
        </div>
    </div>
</section>
<th:block th:replace="fragments/footer :: main-footer"/>
</body>
</html>