<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>Stacks - Let us help your wallet grow.</title>
    <th:block th:replace="fragments/header.html :: home-header"/>
</head>
<body>
<th:block th:replace="fragments/navbar:: main-nav"/>
<section class="hero is-medium is-primary is-bold">
    <div class="hero-body">
        <div class="container">
            <h1 class="title">Stacks</h1>
            <h2 class="subtitle">Let us help your wallet grow.</h2>
        </div>
    </div>
</section>
<div id="middle">
    <div id="mid-1">
        <h3>We can help you <i>save</i> money by keeping track of your expenses.</h3>
    </div>
    <div id="mid-2">
        <h3>Let's work towards reaching your <i>savings goals</i>.</h3>
    </div>
    <div id="mid-3">
        <h3>Learn about <i>saving</i> by finding out tricks & tips from others.</h3>
    </div>
    <div id="mid-4">
        <h3><i>Save</i> by learning about upcoming or ongoing promotions.</h3>
    </div>
</div>
<th:block th:replace="fragments/footer :: main-footer"/>
</body>
</html>
